@font-face {
  font-family: "iconfont"; /* Project id 3553133 */
  src: url('iconfont.woff2?t=1658992241997') format('woff2'),
       url('iconfont.woff?t=1658992241997') format('woff'),
       url('iconfont.ttf?t=1658992241997') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wode:before {
  content: "\e8a0";
}

.icon-hanbao:before {
  content: "\e616";
}

.icon-dingdan:before {
  content: "\e8ae";
}

.icon-shouye:before {
  content: "\e609";
}

