@font-face {
  font-family: "iconfont"; /* Project id 3562577 */
  src: url('iconfont.woff2?t=1659427525846') format('woff2'),
       url('iconfont.woff?t=1659427525846') format('woff'),
       url('iconfont.ttf?t=1659427525846') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before {
  content: "\e62c";
}

.icon-user:before {
  content: "\e610";
}

.icon-shouye:before {
  content: "\e751";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-zhanghuyue:before {
  content: "\e6a7";
}

.icon-fanhui:before {
  content: "\e600";
}

.icon-saoyisao:before {
  content: "\e891";
}

.icon-wode:before {
  content: "\e8a0";
}

.icon-hanbao:before {
  content: "\e616";
}

.icon-dingdanguanli:before {
  content: "\e61c";
}

.icon-renwu:before {
  content: "\e60b";
}

.icon-lipinka:before {
  content: "\e61d";
}

.icon-dingdan:before {
  content: "\e8ae";
}

.icon-duihuan:before {
  content: "\e631";
}

